@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:wght@300;400;900&display=swap');

@mixin reset-space {
	margin: 0;
	padding: 0;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin font-principal {
	font-family: 'Graduate';

}

@mixin font-cards {
	font-family: 'Montserrat';

}

html {
	body {
		@include reset-space;
		@include font-cards;
		background-color: #2A9D8F;
		position: relative;
		top: 0;

		header {
			align-items: center;
			background: #2A9D8F;
			box-shadow: 2px 2px 2px #000;
			display: flex;
			height: 60px;
			justify-content: space-between;
			max-width: 100%;
			padding: 0 30px;
			position: relative;
			top: 0;

			h1 {
				margin: 0;
				position: relative;

				>img {
					margin-top: 5px;
					max-height: 50px;
				}
			}

			nav {
				ul {
					display: flex;
					list-style: none;

					>li {
						margin: 0 5px;

						>a {
							@include font-principal;
							color: #E3EEF2;
							font-size: 18px;
							padding: 6px 20px;
							text-decoration: none;

							&:hover {
								background-color: #264653;
							}
						}
					}
				}
			}
		}

		.hamburger {
			display: none;
		}

		h2 {
			@include font-principal;
			color: #E3EEF2;
			font-size: 30px;
			font-weight: 900;
			padding: 0 calc(43% - 130px);
			position: relative;

		}

		.imagem-principal {
			max-width: 220px;
			padding-bottom: 80px;
			padding: 0 calc(45% - 90px);
			position: relative;

		}

		.cards {
			margin-bottom: 60px;
			padding: 30px 60px;

			.grid {
				display: flexbox;
				flex-wrap: wrap;
				justify-content: space-around;
				max-width: 100%;
			}

			article {
				@include font-cards;
				background: #264653;
				border-radius: 4px;
				box-sizing: border-box;
				color: #EFFBFA;
				margin-bottom: 20px;
				margin-left: 10px;
				margin-top: 10px;
				overflow: hidden;
				padding: 3px 30px;

				h3 {
					@include font-principal;

				}

				span {
					font-weight: bold;
					color: #E3EEF2;

				}

			}
		}

		.rodape {
			background: #000;
			bottom: 0;
			overflow: hidden;
			position: fixed;
			width: 100%;
			z-index: 10;

			img {
				left: 45%;
				max-width: 120px;
				position: absolute;
				top: 10px;
			}

			.legend {
				@include font-principal;
				color: #6DAB8E;
				display: flex;
				font-size: 12px;
				justify-content: flex-end;
				margin: 20px;
				padding-right: 30px;
			}
		}

		/* parte mobile */

		@media (max-width: 479px) {

			.logo,
			.menu {
				display: none;
			}

			.hamburger {
				display: block;

				#side-menu {
					align-items: center;
					background-color: #005d81;
					display: flex;
					flex-direction: column;
					height: 100%;
					margin-left: -100%;
					max-width: 400px;
					position: fixed;
					transition: all ease-in-out 0.5s;
					width: 100%;
					z-index: 10;


					.image-profile {
						background-color: #E3EEF2;
						border-radius: 50%;
						height: 150px;
						margin: 20px 0px;
						width: 150px;
					}

					.name-profile {
						@include font-cards;
						color: #E3EEF2;
						font-size: 20px;
						font-weight: 700;
					}

					.menu-mobile {
						@include font-cards;
						list-style: none;
						margin: 10px;
						padding: 10px;
						position: relative;
						width: 100%;

						li {
							display: flex;
							list-style: none;
							padding: 10px;
							position: relative;

							>a {
								background-color: #6DAB8E;
								color: #E3EEF2;
								display: flex;
								justify-self: center;
								padding: 20px 0px;
								text-decoration: none;
								transition: .3s ease-in-out all;
								width: 100%;

								&:hover {
									background-color: #005d81;
									width: 100%;
								}
							}
						}
					}
				}

				#menu-icon {
					font-size: 30px;
					position: absolute;
					right: 20px;
					top: 10px;
				}

				#menu-toggle {
					display: none;

					&:checked~#side-menu {
						margin-left: 0px;
					}
				}
			}

			.imagem-principal {
				padding-bottom: 150px;
			}

			.cards {
				display: flex;
				flex-direction: column;
			}

			.rodape {
				@include flex-center;
				position: fixed;
				flex-direction: column;
				width: calc(100% - 90px);
				padding: 10px 45px;

				img {
					position: relative;
					width: 80px;
					margin-bottom: 10px;
					left: 0;
					top: 0;
				}

				.legend {
					width: 130px;
					text-align: center;
					padding: 0;
				}
			}
		}
	}
}